body {
    user-select: none;
    color: #daa520;
}

img {
    height: 329px;
}

.checkboxes {
    display: flex;
}

.biggerButton {
    height: 80px;
    width: 100px;
    margin-bottom: 10px;
    opacity: 100%;
}

button {
    opacity: 70%;
}

.tankButton {
    background-color: blue;
    font-size: large;
}

.healerButton {
    background-color: green;
    font-size: large;
}

.DPSButton {
    background-color: red;
    font-size: large;
}

#Checks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jobButton {
    position: absolute;
    top: 400px;
}

.chosenCategory {
    border: 5px solid black;
}

@media only screen and (min-width: 600px) {


    #tanks {
        display: flex;
    }

    #melee {
        display: flex;
    }

    #range {
        display: flex;
    }

    #magic {
        display: flex;
    }

    #regen {
        display: flex;
    }

    #barrier {
        display: flex;
    }
}

input[type="checkbox" i] {
    margin-left: 20px;
    margin-top: -15px;
}

#rndMsgP {
    font-size: 20px;
    font-weight: bold;
}